.gradle/
.toolchain/
local.properties
**/build/
*.iml
.idea/
*.log
analysis/*
!analysis/clip2_56.5.png
!analysis/clip1_81.5.png
!analysis/clip2_14.0.png
!analysis/clip2_49.0.png
!analysis/clip2_55.png
!analysis/clip2_58.png
!analysis/clip1_83.png
!analysis/clip2_60.png
!analysis/clip2_0.png
!analysis/video_metadata.json
!analysis/v2/
analysis/v2/*
!analysis/v2/field_0.png
!analysis/v2/field_10.png
!analysis/v2/field_25.png
!analysis/v2/field_40.png
!analysis/v2/field_130.png
!analysis/v2/field_170.png
dist/
.signing/
*.keystore
*.jks
*.mp4
*.jpeg
*.jpg
**/__pycache__/
